<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headerFragment">
    <title>Welcome to Administration of Eshop</title>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    <header class="mb-auto p-3 text-bg-dark" th:include="fragments/admin_header :: header">&nbsp;</header>

    <main class="container px-3">

        <div class="mb-5">
            <a th:href="@{'/admin/catalog/add'}" class="btn btn-primary">Add Product</a>
        </div>

        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Slug</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product: ${listProducts}">
                    <td th:text="${product.id}">Product ID</td>
                    <td th:text="${product.name}">Product Name</td>
                    <td th:text="${product.description}">Description</td>
                    <td th:text="${product.price}">Price</td>
                    <td th:text="${product.slug}">Slug</td>
                    <td><a  class="btn btn-secondary" th:href="@{'/admin/catalog/edit/' + ${product.id}}">Edit</a></td>
                    <td>
                        <form th:action="@{'/admin/product/delete/' + ${product.id}}" method="post">
                            <input type="submit" class="ui-button btn btn-danger" value="Delete" />
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </main>

    <footer class="mt-auto text-white-50 container">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
                href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>
</body>
</html>