<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headerFragment">
    <title>Welcome to Eshop Home</title>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    <header class="mb-auto p-3 text-bg-dark" th:include="fragments/admin_header :: header">&nbsp;</header>

    <main class="container px-3">
        <h1>Java Spring Eshop</h1><br>
        <h1>It's Home Page For Administrator</h1>
        <p class="lead"></p>
        <p class="lead">
            <a th:href="@{/catalog}" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Каталог</a>
        </p>

    </main>

    <footer class="mt-auto text-white-50 container">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
                href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>
</body>
</html>