<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headerFragment">
    <title>Edit User - Eshop</title>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    <header class="mb-auto p-3 text-bg-dark" th:include="fragments/admin_header :: header">&nbsp;</header>
    <main class="container px-3">
        <div class="container text-center">
            <div>
                <h1>Edit User</h1>
            </div>
            <form th:action="@{/admin/users/save}" th:object="${user}"
                  method="post" style="max-width: 600px; margin: 0 auto;">
                <input type="hidden" th:field="*{id}"/>
                <div class="m-3">
                    <div class="form-group row">
                        <label class="col-4 col-form-label">E-mail: </label>
                        <div class="col-8">
                            <input type="email" th:field="*{email}" class="form-control" required/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Password: </label>
                        <div class="col-8">
                            <input type="password" th:field="*{password}" class="form-control"
                                   required minlength="6" maxlength="10"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">First Name: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{firstName}" class="form-control"
                                   required minlength="2" maxlength="20"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Last Name: </label>
                        <div class="col-8">
                            <input type="text" th:field="*{lastName}" class="form-control"
                                   required minlength="2" maxlength="20"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label">Roles: </label>
                        <div class="col-8">
                            <th:block th:each="role: ${listRoles}">
                                <input type="checkbox" th:field="*{roles}"
                                       th:text="${role.name}" th:value="${role.id}" class="m-2"/>
                            </th:block>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer class="mt-auto text-white-50 container">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
                href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>
</body>
</html>