<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="fragments/header :: headerFragment">
    <title>List Users</title>
</head>
<body>

<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    <header class="mb-auto p-3 text-bg-dark" th:include="fragments/admin_header :: header">&nbsp;</header>
    <main class="container px-3">
        <div class="container text-center">
            <div>
                <h1 class="text-center">List of Users</h1>
            </div>

            <div>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>User ID</th>
                        <th>E-mail</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Roles</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${listUsers}">
                        <td th:text="${user.id}">User ID</td>
                        <td th:text="${user.email}">E-mail</td>
                        <td th:text="${user.firstName}">First Name</td>
                        <td th:text="${user.lastName}">Last Name</td>
                        <td th:text="${user.roles}">Roles</td>
                        <td><a class="btn btn-warning" th:href="@{'/admin/users/edit/' + ${user.id}}">Edit</a></td>
                        <td>
                            <form th:action="@{'/admin/users/delete/' + ${user.id}}" method="post">
                                <input type="submit" class="ui-button btn btn-danger" value="Delete" />
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer class="mt-auto text-white-50 container">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
                href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>
</body>
</html>