<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css"  th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
  <script type="text/javascript" src="/webjars/jquery/3.6.1/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/5.2.2/js/bootstrap.min.js"></script>
  <style>
    html,
    body {
      height: 100%
    }
    body { background-image: url("/image/bg-pc.jpg");}
  </style>
</head>
<body>
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
<!--      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">-->
<!--        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>-->
<!--      </a>-->

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a th:href="@{/}" class="nav-link px-2 text-secondary">Главная</a></li>
        <li><a th:href="@{/catalog}" class="nav-link px-2 text-white">Каталог</a></li>
        <li><a th:href="@{/cart}" class="nav-link px-2 text-white">Корзина</a></li>
        <li><a th:href="@{/order}" class="nav-link px-2 text-white">Оформление заказа</a></li>
      </ul>

      <div class="text-end">
        <a th:href="@{/login}"  type="button" class="btn btn-outline-light me-2">Вход</a>
        <a th:href="@{/register}" type="button" class="btn btn-warning">Регистрация</a>
      </div>
    </div>
  </div>
</header>
</body>
</html>