<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headerFragment">
    <title>Welcome to Cart</title>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    <header class="mb-auto p-3 text-bg-dark" th:include="fragments/admin_header :: header">&nbsp;</header>

    <main class="container px-3">

        <div>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Cart ID</th>
                    <th>Product ID</th>
                    <th>User ID</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product: ${listProducts}">
                    <td th:text="${cart.id}">Cart ID</td>
                    <td th:text="${product.id}">Product Id</td>
                    <td th:text="${user.id}">User ID</td>
                    <td>
                        <form th:action="@{'/cart/delete/' + ${cart.id}}" method="post">
                            <input type="submit" class="ui-button btn btn-danger" value="Delete" />
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </main>

    <footer class="mt-auto text-white-50 container">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
                href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>
</body>
</html>