<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headerFragment">
    <title>Welcome to Eshop Home</title>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    <header class="mb-auto p-3 text-bg-dark" th:include="fragments/header :: header">&nbsp;</header>

    <main class="container px-3">
        <div class="row">
            <div th:each="product: ${listProducts}" class="col-4">
                <div class="card" style="width: 18rem;">
                    <img src="image/motherboard1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5  th:text="${product.name}" class="card-title">Name</h5>
                        <p class="card-text" th:text="${product.description}"></p>
                        <p class="card-text" th:text="${product.price} + ' руб.'"></p>
                        <a th:href="@{'/cart/add' + ${product.id}}" class="btn btn-primary">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
<!--            <table class="table table-striped table-bordered">-->
<!--                <thead class="thead-dark">-->
<!--                <tr>-->
<!--                    <th>Product ID</th>-->
<!--                    <th>Product Name</th>-->
<!--                    <th>Description</th>-->
<!--                    <th>Price</th>-->
<!--                    <th>Slug</th>-->
<!--                    <th></th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="product: ${listProducts}">-->
<!--                    <td th:text="${product.id}">Product ID</td>-->
<!--                    <td th:text="${product.name}">Product Name</td>-->
<!--                    <td th:text="${product.description}">Description</td>-->
<!--                    <td th:text="${product.price}">Price</td>-->
<!--                    <td th:text="${product.slug}">Slug</td>-->
<!--                    <td><a th:href="@{'/catalog/edit/' + ${product.id}}">Edit</a></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
        </div>


    </main>

    <footer class="mt-auto text-white-50 container">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
                href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>
</body>
</html>