<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headerFragment">
	<title>Registration Success</title>
</head>
<body>
<div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
	<header class="mb-auto p-3 text-bg-dark" th:include="fragments/header :: header">&nbsp;</header>

	<main class="container px-3">
		<div class="text-center">
			<h3>Вы успешно зарегистрировались!</h3>
			<h4><a th:href="@{/login}">Войти</a></h4>
		</div>
	</main>

	<footer class="mt-auto text-white-50 container">
		<p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
				href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
	</footer>
</div>
</body>
</html>